repos:
  - repo: local
    hooks:
      # Prevent committing .rej files and .pb.gz (profiling) files
      - id: forbidden-files
        name: forbidden files
        entry: found forbidden files; remove them before committing
        language: fail
        files: "\\.rej$|\\.pb\\.gz$"

      - id: julia-formatter
        name: julia-formatter
        entry: bash -c '[[ $CI ]] && exit 0 || julia --project=. -e "using JuliaFormatter; format(\".\")"'
        language: system

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: file-contents-sorter
        files: .JuliaFormatter.toml
        args: [--unique]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: pretty-format-json
        args: [--autofix, --indent=2]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
        args: [--assume-in-merge]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint-fix
        exclude: ^CHANGELOG\.md$
  - repo: https://github.com/citation-file-format/cffconvert
    rev: 054bda51dbe278b3e86f27c890e3f3ac877d616c
    hooks:
      - id: validate-cff
  - repo: https://github.com/google/yamlfmt
    rev: v0.21.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
